<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Choose Your Move</title>
</head>


<body>

    <h1>
        <%= name%>, Choose Your Move!
    </h1>

    <form action="/result" method="post">
        <input id="Rock" type="submit" value="rock" name="choice">
        <input id="Paper" type="submit" value="paper" name="choice">
        <input id="Scissors" type="submit" value="scissors" name="choice">
    </form>

</body>

</html>