<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissors</title>
</head>


<body>

    <h1>Let's Play Rock, Paper, Scissors, Lizard, Spock!</h1>
    <div>
        <img src="https://i.imgur.com/BWDszrL.jpg" width="450" alt="LizardSpockRules">
    </div>
    <p>Enter your name and press Play! to start...</p>
    <form action="/game" method="post">
        <p>Please enter your name: <input id="player-name" type="text" name="player"></p>
        <input id="name-submit" type="submit" value="Play!">
    </form>

</body>

</html>