<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>


<body>

    <h1>The result is... </h1>
    <h1>
        <%= result%>
    </h1>
    <h3>Your move: <%= choice%>
    </h3>
    <h3>Bot move: </h3>

    <button><a href="/">Play again?</a></button>


</body>

</html>